<%- include('partials/_header') %>
<style>
    .header-footer {
        background-color: #212529;
        color: white;
        padding: 10px 0;
        margin-top: 10px;
    }
    .card {
        border-color: #212529;
        border-radius: 0.25rem;
        background-color: #212529;
    }
    .card-body {
        background-color: #2c3034;
        color: white;
        border-color: #212529;
    }
    .card-header {
        background-color: #212529;
        color: white;
        padding: 10px;
        border-color: #212529;
    }
</style>

<div class="header-footer text-center">
    <h1>Listado de Asignaturas</h1>
</div>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Tarjeta 1 -->

            <% asignaturasUsuario.forEach(function(asignatura) { %>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><%= asignatura.name %></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Curso:</strong> <%=asignatura.curso.name%></p>
                            <p class="card-text"><strong>Profesores:</strong></p>

                            <% if (asignatura.profesores) { %>
                            <p>Profesores:</p>
                            <ul>
                                <%asignatura.profesores.forEach(profesor=>{%>
                                    <li><%= profesor %></li>
                                <%})%>
                            </ul>
                            <% } %>


                            <% if (asignatura.alumnos) { %>
                                <p>Alumnos:</p>
                                <ul>
                                    <%asignatura.alumnos.forEach(alumno=>{%>
                                        <li><%= alumno.name + " " + alumno.lastName %></li>                                    <%})%>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
    </div>
</div>

<%- include('partials/_footer') %>