<%- include('partials/_header') %>
<style>
    .header-footer {
        background-color: #007bff;
        color: white;
        padding: 10px 0;
    }
    .card-body {
        background-color: #f8f9fa;
    }
    .card-header {
        background-color: #28a745;
        color: white;
        padding: 10px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
</style>

<div class="header-footer text-center">
    <h1>Listado de Asignaturas</h1>
</div>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Tarjeta 1 -->

            <% tasks.forEach(function(asignatura) { %>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><%= asignatura.nombre %></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Curso:</strong> 1° de Bachillerato</p>
                            <p class="card-text"><strong>Profesor: </strong><%= asignatura.profesor %></p>

                            <% if (asignatura.alumnos) { %>
                                <p>Alumnos:</p>
                                <ul>
                                    <%asignatura.alumnos.forEach(alumno=>{%>
                                        <li><%= alumno.name + " " + alumno.lastName %></li>                                    <%})%>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
    </div>
</div>

<%- include('partials/_footer') %>