<%- include('partials/_header') %> <!--Prueba página-->

<div class="container mt-4">
    <h1 class="mb-3">Lista de cursos</h1>
    <table class="table table-striped table-bordered table-hover">

        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Año</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <% if (cursos && cursos.length > 0) { %>
            <% cursos.forEach(curso => { %>
                <tr>
                    <td><%= curso.name %></td>
                    <td><%= curso.year %></td>
                    <td><%= curso.tipo %></td>
                    <td></td>
                </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td colspan="3" class="text-center">No hay cursos para mostrar</td>
            </tr>
        <% } %>
        </tbody>

    </table>
    <a href="/cursos/addcursos" class="btn btn-primary">Crear Curso</a>
</div>

<%- include('partials/_footer') %>