<%- include('partials/_header') %>  <!--Prueba Página-->

<!--CAMBIAR TITULO-->
<script>
    document.title = "Editar Curso | ToadMafia";
</script>

<style>
    .la-carta{
        background-color: #212529;
        color: white;
    }
    .form-control {
        background-color: #2c3034;
        color: white;
        border: 1px solid #555;
    }
    .form-control::placeholder {
        color: darkgrey;
    }
    .form-control:focus {
        background-color: #1f2225;
        color: white;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    /* Quitar los botones de incremento/decremento en Chrome, Safari y Edge */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Quitar los botones en Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
    .form-select {
        background-color: #2c3034;
        color: white;
        border-color: #555;
    }
    .form-select:focus {
        background-color: #1f2225;
        color: white;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
</style>

<div class="container mt-5">
    <div class="card shadow-lg p-4 la-carta">
        <h2 class="text-center mb-4">Edita Curso</h2>
        <form action="/cursos/edit/<%= curso._id %>" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" id="name" name="name" class="form-control" value="<%= curso.name %>" required>
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Año:</label>
                <input type="number" id="year" name="year" class="form-control" value="<%= curso.year %>" required>
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo:</label>
                <select name="tipo" id="tipo" class="form-select">
                    <option value="Grado" <%= curso.tipo === 'Grado' ? 'selected' : '' %>>Grado</option>
                    <option value="Master" <%= curso.tipo === 'Master' ? 'selected' : '' %>>Master</option>
                </select>
            </div>
            <hr>
            <button type="submit" class="btn btn-outline-light w-100">Guardar Cambios</button>
        </form>
    </div>
</div>
<%- include('partials/_footer') %>