<%- include('partials/_header') %>
<style>
    .card {
        border-color: #212529;
        border-radius: 0.25rem;
        background-color: #212529;
    }
    .card-body {
        background-color: #2c3034;
        color: white;
        border-color: #212529;
    }
    .card-header {
        background-color: #212529;
        color: white;
        padding: 10px;
        border-color: #212529;
    }
    h4 {
        margin: 1.5rem;
    }
    #mondongo-img {
        max-width: 450px;
    }
    .titulo-asig {
        color: white;
        text-decoration: none;
    }
</style>
<%if (user){%>
    <%if (user.role === 0){%>
        <div class="container mt-4">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Tarjeta 1 -->
                <% asignaturasUsuario.forEach(function(asignatura) { %>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <a href="/asignaturas/softwares/<%= asignatura.id %>" class="titulo-asig"><h5 class="card-title"><%= asignatura.name %></h5></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Curso:</strong> <%=asignatura.curso.name%></p>
                            <p class="card-text"><strong>Profesores: </strong></p>
                            <% if (asignatura.profesores) { %>
                            <ul>
                                <%asignatura.profesores.forEach(profesor=>{%>
                                    <li><%= profesor %></li>
                                <%})%>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    <%} else if (user.role === 1){%>

    <%} else{%>

    <%}%>
<%}else{%>
    <div class="container mt-4 text-center">
        <div style="margin: 10rem">
            <h1 class="text-center">Bienvenido a ToadMafia</h1>
            <h4 class="text-center">Inicie sesión o regístrese para empezar.</h4>
        </div>
        <img src="../public/resources/mondongo.jpg" class="img-fluid d-block mx-auto" id="mondongo-img" alt="Foto inicio">
    </div>
<%}%>
<%- include('partials/_footer') %>