<%- include('partials/_header') %>

<!--CAMBIAR TITULO-->
<script>
    document.title = "Inicio | CamelMafia";
</script>

<style>
    /*.card {
        border-color: #212529;
        border-radius: 0.25rem;
        background-color: #212529;
    }
    .card-body {
        background-color: #2c3034;
        color: white;
        border-color: #212529;
    }
    .card-header {
        background-color: #212529;
        color: white;
        padding: 10px;
        border-color: #212529;
    }*/
    h4 {
        margin: 1.5rem;
    }
    .fotos_inicio {
        max-width: 450px;
        max-height: 40rem;
    }
    .espejo {
        transform: scaleX(-1);
    }
    .titulo-asig {
        color: white;
        text-decoration: none;
    }
</style>
<%if (user){%>
    <%if (user.role === 0){%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido a su Aula Virtual</h4>
            </div>
            <!--Banda sonora BOF-->
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_alumno.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_alumno_4.jpg" class="img-fluid w-50 mx-auto d-block fotos_inicio" alt="Foto inicio alumno">
        </div>
    <%} else if (user.role === 1){%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido al Aula</h4>
            </div>
            <!--Banda sonora BOF-->
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_profesor.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_profesor.jpg" class="img-fluid w-50 mx-auto d-block fotos_inicio" alt="Foto inicio profesor">
        </div>
    <%} else{%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido Lidel</h4>
            </div>
            <!--Banda sonora BOF-->
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_admin.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_admin.jpg" class="img-fluid w-50 mx-auto d-block fotos_inicio" alt="Foto inicio admin">
        </div>
    <%}%>
<%}else{%>
    <div class="container mt-4 text-center">
        <div style="margin: 10rem">
            <h1 class="text-center">Bienvenido a CamelMafia</h1>
            <h4 class="text-center">Inicie sesión para empezar.</h4>
        </div>
        <!--Banda sonora BOF-->
        <audio autoplay loop class="mt-4" style="display: none;">
            <source src="../public/music/banda_sonora_index_logout.mp3" type="audio/mpeg">
        </audio>
        <div class="container">
            <div class="row justify-content-center g-3 text-center">
                <div class="col-4">
                    <img src="../public/resources/nano.jpg" class="img-fluid espejo" alt="Foto inicio nano">
                </div>
                <div class="col-4">
                    <img src="../public/resources/mondongo.jpg" class="img-fluid" alt="Foto inicio mondongo">
                </div>
                <div class="col-4">
                    <img src="../public/resources/nano.jpg" class="img-fluid" alt="Foto inicio nano">
                </div>
            </div>
        </div>
    </div>
<%}%>
<%- include('partials/_footer') %>