<%- include('partials/_header') %>
<style>
    /*.card {
        border-color: #212529;
        border-radius: 0.25rem;
        background-color: #212529;
    }
    .card-body {
        background-color: #2c3034;
        color: white;
        border-color: #212529;
    }
    .card-header {
        background-color: #212529;
        color: white;
        padding: 10px;
        border-color: #212529;
    }*/
    h4 {
        margin: 1.5rem;
    }
    .fotos_inicio {
        max-width: 450px;
    }
    .fotos-horizontales {
        display: flex;
        gap: 10px;
    }
    .fotos-horizontales img {
        flex: 1;
    }
    .espejo {
        transform: scaleX(-1);
    }
    .titulo-asig {
        color: white;
        text-decoration: none;
    }
</style>
<%if (user){%>
    <%if (user.role === 0){%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido a su Aula Virtual</h4>
            </div>
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_alumno.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_alumno_4.jpg" class="img-fluid d-block mx-auto fotos_inicio" alt="Foto inicio alumno">
        </div>
    <%} else if (user.role === 1){%>

    <%} else{%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido Lidel</h4>
            </div>
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_admin.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_admin.jpg" class="img-fluid d-block mx-auto fotos_inicio" alt="Foto inicio alumno">
        </div>
    <%}%>
<%}else{%>
    <div class="container mt-4 text-center">
        <div style="margin: 10rem">
            <h1 class="text-center">Bienvenido a ToadMafia</h1>
            <h4 class="text-center">Inicie sesión o regístrese para empezar.</h4>
        </div>
        <div class="fotos-horizontales mb-3">
            <img src="../public/resources/nano.jpg" class="img-fluid d-block mx-auto fotos_inicio espejo" alt="Foto inicio nano">
            <img src="../public/resources/mondongo.jpg" class="img-fluid d-block mx-auto fotos_inicio" alt="Foto inicio mondongo">
            <img src="../public/resources/nano.jpg" class="img-fluid d-block mx-auto fotos_inicio" alt="Foto inicio nano">
        </div>
    </div>
<%}%>
<%- include('partials/_footer') %>