<%- include('partials/_header') %>

<!--CAMBIAR TITULO-->
<script>
    document.title = "Inicio | CamelMafia";
</script>

<style>
    h4 {
        margin: 1.5rem;
    }
    .fotos_inicio {
        max-width: 450px;
        max-height: 40rem;
    }
    .espejo {
        transform: scaleX(-1);
    }
    .titulo-asig {
        color: white;
        text-decoration: none;
    }
</style>
<%if (user){%>
    <%if (user.role === 0){%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido a su Aula Virtual</h4>
            </div>
            <!--Banda sonora BOF-->
            <audio autoplay loop  class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_alumno.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_alumno_4.jpg" class="img-fluid w-50 mx-auto d-block fotos_inicio" alt="Foto inicio alumno">
        </div>
    <%} else if (user.role === 1){%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido al Aula</h4>
            </div>
            <!--Banda sonora BOF-->
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_profesor.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_profesor.jpg" class="img-fluid w-50 mx-auto d-block fotos_inicio" alt="Foto inicio profesor">
        </div>
    <%} else{%>
        <div class="container mt-4 text-center">
            <div style="margin: 5rem">
                <h1 class="text-center">Hola <%= user.name%> <%= user.lastName%></h1>
                <h4 class="text-center">Bienvenido Lidel</h4>
            </div>
            <!--Banda sonora BOF-->
            <audio autoplay loop class="mt-4" style="display: none;">
                <source src="../public/music/banda_sonora_index_admin.mp3" type="audio/mpeg">
            </audio>
            <img src="../public/resources/camel_admin.jpg" class="img-fluid w-50 mx-auto d-block fotos_inicio" alt="Foto inicio admin">
        </div>
    <%}%>
<%}else{%>
    <div class="container mt-4 text-center">
        <div style="margin: 10rem">
            <h1 class="text-center">Bienvenido a CamelMafia</h1>
            <h4 class="text-center">Inicie sesión para empezar.</h4>
        </div>
        <!--Banda sonora BOF-->
        <audio autoplay loop id="audioLogout" class="mt-4" style="display: none;">
            <source src="../public/music/banda_sonora_index_logout.mp3" type="audio/mpeg">
        </audio>
        <div class="container">
            <div class="row justify-content-center g-3 text-center">
                <div class="col-4">
                    <img src="../public/resources/nano.jpg" class="img-fluid espejo" alt="Foto inicio nano">
                </div>
                <div class="col-4">
                    <img src="../public/resources/mondongo.jpg" class="img-fluid" alt="Foto inicio mondongo">
                </div>
                <div class="col-4">
                    <img src="../public/resources/nano.jpg" class="img-fluid" alt="Foto inicio nano">
                </div>
            </div>
        </div>
    </div>
<%}%>

<!--Hacer que si el ratón pasa por la imagen de mondongo-->
<script>
    // Crear un elemento de audio para la canción que quieres que suene
    var audioMondongo = new Audio('../public/music/mondongo.mp3');
    var audioLogout = document.getElementById("audioLogout");

    // Obtener la imagen de mondongo
    var imagenMondongo = document.getElementById('imagenMondongo');

    // Reproducir la canción de mondongo cuando el ratón pase por encima de la imagen
    imagenMondongo.addEventListener('mouseenter', function() {
        // Detener el audio de logout
        audioLogout.pause();

        // Reproducir el audio de mondongo
        audioMondongo.play();

        // Cuando el audio de mondongo termine, volver a reproducir el audio de logout
        audioMondongo.addEventListener('ended', function() {
            audioLogout.play();
        });
    });

    // Detener el audio de mondongo cuando el ratón sale de la imagen
    imagenMondongo.addEventListener('mouseleave', function() {
        audioMondongo.pause();
        audioMondongo.currentTime = 0; // Reiniciar al principio
    });
</script>

<%- include('partials/_footer') %>