<%- include('partials/_header') %>

<!--CAMBIAR TITULO-->
<script>
    document.title = "Perfil | CamelMafia";
</script>

<style>
    .accordion-button {
        background-color: #313338;
        color: white;
    }
    .accordion-button:not(.collapsed) {
        background-color: #313338;
        color: white;
    }

</style>
<div class="container">
    <div class="profile-card">
        <h2 class="text-center">Perfil del Usuario</h2>
        <div class="user-info">
            <!--depende del usuario pone un rol o otro-->
            <%if(user.role=='0'){%>
            <p><strong>ROL:</strong><span id="user-rol"> Estudiante</span></p>
            <%}else if(user.role=='1'){%>
            <p><strong>ROL:</strong><span id="user-rol"> Profesor</span></p>
            <%}else if(user.role=='2'){%>
            <p><strong>ROL:</strong><span id="user-rol"> Administrador</span></p>
            <%}%>
            <p><strong>Nombre:</strong> <span id="user-name"><%=user.name%></span></p>
            <p><strong>Apellido:</strong> <span id="user-lastname"><%=user.lastName%></span></p>
            <p><strong>Email:</strong> <span id="user-email"><%=user.email%></span></p>
            <p><strong>Edad:</strong> <span id="user-age"><%=user.age%></span> años</p>
        </div>
        <%if(asignaturasUsuario.length > 0){%>
        <hr class="my-4">
        <div>
            <h4 class="text-center mb-3">Asignaturas</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <% asignaturasUsuario.forEach(function(asignatura, index) { %>
                    <div class="accordion-item" style="background-color: #212529">
                        <h2 class="accordion-header" style="margin: 0">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index %>" aria-expanded="false" aria-controls="flush-collapse<%= index %>">
                                <%= asignatura.name %>
                            </button>
                        </h2>
                        <div id="flush-collapse<%= index %>" class="accordion-collapse collapse contenido-asignatura" data-bs-parent="#accordionFlushExample" style="margin: 0">
                            <div class="accordion-body">
                                Contenido de la asignatura <strong><%= asignatura.name %></strong>.
                            </div>
                            <div class="accordion-body">
                                Profesores:
                                <ul>
                                    <%asignatura.profesores.forEach(profesor=>{%>
                                        <li><%=profesor%></li>
                                    <%})%>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>
        <%}%>
    </div>
</div>

<!-- Estilos personalizados -->
<style>
    /* Reset de márgenes y paddings */
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .container {

        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ocupa toda la altura de la ventana */
        padding: 20px; /* Espaciado opcional */
    }

    .profile-card {
        max-width: 600px;
        width: 100%;
        padding: 30px;
        background-color: #212529;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .profile-card h2 {
        color: white;
        margin-bottom: 20px;
        font-size: 2em;
        font-weight: bold;
    }

    .profile-card p {
        font-size: 1.1em;
        color: white;
        margin-bottom: 10px;
    }

    .profile-card p strong {
        color: white;
    }

    .profile-card hr {
        border-top: 2px solid #eee;
    }

    .asignaturas {
        margin-top: 20px;
    }

    .asignaturas h4 {
        color: white;
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .contenido-asignatura {
        background-color: #313338;
        color: white;
    }

</style>

<%- include('partials/_footer') %>